*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
}
.card-title
{
    font-size: xxx-large;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: none;
}
.card-body{
    padding: 0px 0px 0px 0px;
    border-radius: 10%;
    background-color: rgb(36,40,62);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 45vh;
    width: 35vw;
}
.card-title{
    color: rgb(157,78,221);
    margin-bottom: 30px
}
.input-todo{
    background: rgb(58,63,84);
    border-radius: 10px;
    margin-bottom: 30px;
    width: 90%;
    border: none;
    height: 40px;
    padding: 5%;
    font-size: larger;
}
.input-todo::placeholder{
    color: rgba(255,255,255,0.7);
}
.input-todo:focus{
    outline: none;
    color: white;
}
.btn{
    background-color: rgba(90,24,154,0.7);
    border: none;
    width:90%;
    height:47px;
    border-radius: 10px;
    color:rgba(255,255,255,0.7);
    font-size: larger;
}
.btn:hover{
    cursor: pointer;
    background-color: rgba(90,24,154,1.0);
    color:rgba(255,255,255,1);
}
.container-2{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* display: none; */
}
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5%;
    width: 25vw;
    height: 45vh;
    font-size: x-large;
}
.signup input {
    height: 37px;
    width: 80%; /* Make them full-width inside the form */
    font-size: 1.2rem;
}

.signup label {
    margin-bottom: 20px; /* Reduce space between label and input */
}

.signup div {
    margin-bottom: 20px;/* Space between email and password block*/
}
#inputPassword5{
    margin-bottom: 20px;
}
.btn-submit{
    background-color: rgba(13,110,253,0.7);
    color: white;
    border: none;
    width:90%;
    height:47px;
    border-radius: 10px;
    font-size: larger;
}
.btn-submit:hover{
    cursor: pointer;
    background-color: rgba(13,110,253,1.0);
}
.container-3{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}
.signin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5%;
    width: 25vw;
    height: 45vh;
    font-size: x-large;
}
.signin input {
    height: 37px;
    width: 80%; /* Make them full-width inside the form */
    font-size: 1.2rem;
}

.signin label {
    margin-bottom: 20px; /* Reduce space between label and input */
}

.signin div{
    margin-bottom: 20px;/* Space between email and password block*/
}
#inputPassword5{
    margin-bottom: 20px;
}
.btn-submit{
    background-color: rgba(13,110,253,0.7);
    color: white;
    border: none;
    width:90%;
    height:47px;
    border-radius: 10px;
    font-size: larger;
}
.btn-submit:hover{
    cursor: pointer;
    background-color: rgba(13,110,253,1.0);
}
.todo-list{
    font-size: x-large;
    text-align: left;
    color: rgba(255,255,255,0.7);
}
.todo-list>ul>li{
    margin: 10px 0px 10px 0px;
}
.todo-list input[type="checkbox"] {
    cursor: pointer;
    transform: scale(1.5); /* Adjust the scale factor as needed */
    transform-origin: center; /* Keeps the checkbox centered */
    background-color: #ce770e;
    outline: none;
}
/* .todo-list > input,label:hover {
    color:rgba(255,255,255,1)
} */